In [1]:
import pandas as pd
import numpy as np

In [2]:
#feed the data from the iea to create the dataframe
df2 = pd.read_excel("http://www.iea.org/statistics/IEA_HeadlineEnergyData.xlsx", sheetname = "TimeSeries_1971-2017", skiprows = 1, index = False)
df1 = pd.read_excel("https://www.rug.nl/ggdc/docs/pwt90.xlsx", sheetname = "Data")

In [3]:
#get rid of information we don't need from df
df2 = df2.drop(['NoCountry', 'NoProduct', 'NoFlow'], axis=1)
df2 = df2[df2.Product == 'Total']
df2 = df2[(df2.Flow =='Total primary energy supply (ktoe)') | (df2.Flow =='Total final consumption (ktoe)') | (df2.Flow=='Total CO2 emissions - Fuel Combustion (Mt of CO2)')]
df2 = df2.sort_values(by = 'Country', ascending = True)
df2 = df2.reset_index()
df2 = df2.drop(['index'], axis = 1)

In [4]:
Country1 = df1.country
Year1 = df1.year
GDP = df1.rgdpna
list_labels = ['Country', 'Year', 'GDP']
list_columns = [Country1, Year1, GDP]
zipped = list(zip(list_labels, list_columns))
data = dict(zipped)
dataframe1 = pd.DataFrame(data)

In [5]:
df = df2.sort_values(by = 'Country', ascending = True)
Years2 = []
Countries2 = []
Total_primary_energy_supply = []
Total_final_consumption= []
Total_CO2_emissions_Fuel_Combustion = []

for index, row in df2.iterrows():
    if df.loc[index, 'Country'] not in Countries2:
        for y in range(1971, 2017):
            Countries2.append(str(df2.loc[index, 'Country']))
            Years2.append(y)
    if(df2.loc[index, 'Flow'] == 'Total primary energy supply (ktoe)'):
        for y in range(1971, 2017):
            Total_primary_energy_supply.append(df.loc[index, y])
    elif(df2.loc[index, 'Flow'] == 'Total final consumption (ktoe)'):
        for y in range(1971, 2017):
            Total_final_consumption.append(df.loc[index,y])
    elif (df2.loc[index, 'Flow']== 'Total CO2 emissions - Fuel Combustion (Mt of CO2)'):
        for y in range(1971, 2017):
            Total_CO2_emissions_Fuel_Combustion.append(df.loc[index, y])

In [6]:
dataframe2 = pd.DataFrame({'Country': Countries2, 'Year': Years2, 'Total CO2 emissions': Total_CO2_emissions_Fuel_Combustion, 'Total primary energy supply (ktoe)': Total_primary_energy_supply, 'Total final consumption (ktoe)': Total_final_consumption}, columns=['Country', 'Year', 'Total CO2 emissions', 'Total primary energy supply (ktoe)', 'Total final consumption (ktoe)'])

     Country  Year Total CO2 emissions Total primary energy supply (ktoe)  \
0     Africa  1971              249.03                             191939
1     Africa  1972              263.84                             198997
2     Africa  1973              285.48                             206867
3     Africa  1974              299.17                             214105
4     Africa  1975              323.96                             222573
5     Africa  1976              352.25                             232095
6     Africa  1977              362.51                             241318
7     Africa  1978              352.67                             252606
8     Africa  1979              369.52                             260007
9     Africa  1980              397.69                             275630
10    Africa  1981              421.89                             286233
11    Africa  1982              431.53                             307491
12    Africa  1983              437.64                             316647
13    Africa  1984              453.28                             329685
14    Africa  1985              465.72                             340312
15    Africa  1986              471.07                             352798
16    Africa  1987              499.67                             363751
17    Africa  1988              510.43                             372633
18    Africa  1989              522.54                             376116
19    Africa  1990              529.11                             391688
20    Africa  1991              533.88                             403145
21    Africa  1992               542.7                             407908
22    Africa  1993              551.35                             419784
23    Africa  1994              551.72                             426293
24    Africa  1995              576.35                             443180
25    Africa  1996              598.62                             457275
26    Africa  1997               631.7                             470364
27    Africa  1998              646.11                             482135
28    Africa  1999              646.23                             493468
29    Africa  2000              658.25                             497754
...      ...   ...                 ...                                ...
2270   World  1987             19207.2                        8.18354e+06
2271   World  1988             19864.9                        8.46815e+06
2272   World  1989             20242.8                        8.61075e+06
2273   World  1990             20518.2                        8.77372e+06
2274   World  1991             20639.3                        8.82934e+06
2275   World  1992               20583                        8.83925e+06
2276   World  1993             20696.5                        8.92842e+06
2277   World  1994             20800.6                        8.99335e+06
2278   World  1995             21379.6                        9.22557e+06
2279   World  1996             21825.9                        9.45764e+06
2280   World  1997             22221.8                        9.55586e+06
2281   World  1998             22388.9                        9.60332e+06
2282   World  1999             22523.6                        9.80727e+06
2283   World  2000             23223.4                        1.00356e+07
2284   World  2001             23572.7                        1.01291e+07
2285   World  2002             23894.7                        1.03425e+07
2286   World  2003             24932.9                        1.07081e+07
2287   World  2004             26106.3                        1.11898e+07
2288   World  2005             27069.7                        1.14948e+07
2289   World  2006             27924.3                        1.18372e+07
2290   World  2007             28979.7                        1.21581e+07
2291   World  2008             29202.9                         1.2306e+07
2292   World  2009             28815.2                        1.22014e+07
2293   World  2010             30489.9                        1.28762e+07
2294   World  2011             31338.3                        1.30693e+07
2295   World  2012             31669.2                        1.32746e+07
2296   World  2013             32287.8                        1.34449e+07
2297   World  2014             32327.8                        1.36224e+07
2298   World  2015               32276                        1.36723e+07
2299   World  2016             32314.2                        1.37614e+07

     Total final consumption (ktoe)
0                            159610
1                            165939
2                            172381
3                            176332
4                            183494
5                            190876
6                            197150
7                            203471
8                            209592
9                            218278
10                           226853
11                           230260
12                           234321
13                           242050
14                           248683
15                           253273
16                           261635
17                           269682
18                           278469
19                           291792
20                           297940
21                           303689
22                           308161
23                           310872
24                           324365
25                           336545
26                           349224
27                           355194
28                           363840
29                           368421
...                             ...
2270                    5.92284e+06
2271                    6.12039e+06
2272                    6.16188e+06
2273                    6.27099e+06
2274                     6.3374e+06
2275                    6.31764e+06
2276                    6.35816e+06
2277                    6.38844e+06
2278                    6.54305e+06
2279                    6.65215e+06
2280                    6.73775e+06
2281                    6.75153e+06
2282                    6.87918e+06
2283                    7.03549e+06
2284                    7.07447e+06
2285                    7.18879e+06
2286                    7.40867e+06
2287                     7.7444e+06
2288                    7.97808e+06
2289                    8.18208e+06
2290                    8.40377e+06
2291                    8.48547e+06
2292                    8.40001e+06
2293                    8.83215e+06
2294                    8.96637e+06
2295                    9.06713e+06
2296                    9.23418e+06
2297                    9.33347e+06
2298                    9.42778e+06
2299                    9.55532e+06

[2300 rows x 5 columns]

In [7]:
Cmplt_Countries = []
Cmplt_Years = []
Cmplt_GDP = []
Cmplt_TotalPrimaryEnergySupply = []
Cmplt_TotalFinalConsumption = []
Cmplt_TotalCO2EmissionsFuelCombustion = []
for indexa in range(0, 49):
    country = Country1[indexa]
    for x in range(0, len(dataframe1.Country)-1):
        #print(dataframe1.Country[x])
        if dataframe1.iloc[x, 0] == country:
            print(dataframe1.Country[x])
            print(country)
            indexc = x
            break
    for y in range(1950, 2017):
        Cmplt_Countries.append(country)
        Cmplt_Years.append(y)
        if y in Year1:
            Cmplt_GDP.append(dataframe1.iloc[indexc+(y-1950), 1])
        else:
            Cmplt_GDP.append('NaN')
        if (country in Countries2) & (y in dataframe2.Year):
            for x in range(0, len(dataframe2.Country)-1):
                if dataframe2.Country[x] == country:
                    index2c = x
                break
            index2y = index2c+(y-1971)
            Cmplt_TotalPrimaryEnergySupply.append(dataframe2.iloc[index2y, 2])
            Cmplt_TotalFinalConsumption.append(dataframe2.iloc[index2y, 3])
            Cmplt_TotalCO2EmissionsFuelCombustion.append(dataframe2.iloc[index2y, 4])
            Countries2.remove(country)
        else:
            Cmplt_TotalPrimaryEnergySupply.append('NaN')
            Cmplt_TotalFinalConsumption.append('NaN')
            Cmplt_TotalCO2EmissionsFuelCombustion.append('NaN')
    dataframe1=dataframe1[(dataframe1.Country != country)]
    dataframe2=dataframe2[(dataframe2.Country != country)]

Aruba
Aruba
3283
3283
3283
3283
3283
3283

In [8]:
for item in range(0, len(Countries2)-1):
    #print(index)
    country = Countries2[item]
    for x in range(0, len(dataframe2.Country)-1):
        if dataframe2.iloc[x, 0] == country:
            indexc = x
            break
    for year in range(1950, 1970):
        Cmplt_Countries.append(country)
        Cmplt_Years.append(year)
        Cmplt_GDP.append('NaN')
        Cmplt_TotalPrimaryEnergySupply.append('NaN')
        Cmplt_TotalFinalConsumption.append('NaN')
        Cmplt_TotalCO2EmissionsFuelCombustion.append('NaN')
    for year in range(1971, 2017):
        indexy = indexc + (year - 1971)
        Cmplt_Countries.append(country)
        Cmplt_Years.append(year)
        Cmplt_GDP.append('NaN')
        Cmplt_TotalPrimaryEnergySupply.append(dataframe2.iloc[indexy, 2])
        Cmplt_TotalFinalConsumption.append(dataframe2.iloc[indexy, 3])
        Cmplt_TotalCO2EmissionsFuelCombustion.append(dataframe2.iloc[indexy, 4])

In [9]:
list_labels_final = ['Country', 'Year', 'GDP', 'TPES', 'TFC', 'TCEFC']
list_columns_final=[Cmplt_Countries, Cmplt_Years, Cmplt_GDP, Cmplt_TotalPrimaryEnergySupply, Cmplt_TotalFinalConsumption, Cmplt_TotalCO2EmissionsFuelCombustion]
zipped_final = list(zip(list_labels_final, list_columns_final))
data_final = dict(zipped_final)
dataframe_final = pd.DataFrame(data_final)
print(dataframe_final)

       Country      GDP        TCEFC          TFC     TPES  Year
0        Aruba      NaN          NaN          NaN      NaN  1950
1        Aruba      NaN          NaN          NaN      NaN  1951
2        Aruba      NaN          NaN          NaN      NaN  1952
3        Aruba      NaN          NaN          NaN      NaN  1953
4        Aruba      NaN          NaN          NaN      NaN  1954
5        Aruba      NaN          NaN          NaN      NaN  1955
6        Aruba      NaN          NaN          NaN      NaN  1956
7        Aruba      NaN          NaN          NaN      NaN  1957
8        Aruba      NaN          NaN          NaN      NaN  1958
9        Aruba      NaN          NaN          NaN      NaN  1959
10       Aruba      NaN          NaN          NaN      NaN  1960
11       Aruba      NaN          NaN          NaN      NaN  1961
12       Aruba      NaN          NaN          NaN      NaN  1962
13       Aruba      NaN          NaN          NaN      NaN  1963
14       Aruba      NaN          NaN          NaN      NaN  1964
15       Aruba      NaN          NaN          NaN      NaN  1965
16       Aruba      NaN          NaN          NaN      NaN  1966
17       Aruba      NaN          NaN          NaN      NaN  1967
18       Aruba      NaN          NaN          NaN      NaN  1968
19       Aruba      NaN          NaN          NaN      NaN  1969
20       Aruba  345.535          NaN          NaN      NaN  1970
21       Aruba  376.939          NaN          NaN      NaN  1971
22       Aruba  411.197          NaN          NaN      NaN  1972
23       Aruba  448.569          NaN          NaN      NaN  1973
24       Aruba  489.337          NaN          NaN      NaN  1974
25       Aruba   533.81          NaN          NaN      NaN  1975
26       Aruba  582.325          NaN          NaN      NaN  1976
27       Aruba   635.25          NaN          NaN      NaN  1977
28       Aruba  692.984          NaN          NaN      NaN  1978
29       Aruba  755.966          NaN          NaN      NaN  1979
...        ...      ...          ...          ...      ...   ...
154987   World      NaN  5.92284e+06  8.18354e+06  19207.2  1987
154988   World      NaN  6.12039e+06  8.46815e+06  19864.9  1988
154989   World      NaN  6.16188e+06  8.61075e+06  20242.8  1989
154990   World      NaN  6.27099e+06  8.77372e+06  20518.2  1990
154991   World      NaN   6.3374e+06  8.82934e+06  20639.3  1991
154992   World      NaN  6.31764e+06  8.83925e+06    20583  1992
154993   World      NaN  6.35816e+06  8.92842e+06  20696.5  1993
154994   World      NaN  6.38844e+06  8.99335e+06  20800.6  1994
154995   World      NaN  6.54305e+06  9.22557e+06  21379.6  1995
154996   World      NaN  6.65215e+06  9.45764e+06  21825.9  1996
154997   World      NaN  6.73775e+06  9.55586e+06  22221.8  1997
154998   World      NaN  6.75153e+06  9.60332e+06  22388.9  1998
154999   World      NaN  6.87918e+06  9.80727e+06  22523.6  1999
155000   World      NaN  7.03549e+06  1.00356e+07  23223.4  2000
155001   World      NaN  7.07447e+06  1.01291e+07  23572.7  2001
155002   World      NaN  7.18879e+06  1.03425e+07  23894.7  2002
155003   World      NaN  7.40867e+06  1.07081e+07  24932.9  2003
155004   World      NaN   7.7444e+06  1.11898e+07  26106.3  2004
155005   World      NaN  7.97808e+06  1.14948e+07  27069.7  2005
155006   World      NaN  8.18208e+06  1.18372e+07  27924.3  2006
155007   World      NaN  8.40377e+06  1.21581e+07  28979.7  2007
155008   World      NaN  8.48547e+06   1.2306e+07  29202.9  2008
155009   World      NaN  8.40001e+06  1.22014e+07  28815.2  2009
155010   World      NaN  8.83215e+06  1.28762e+07  30489.9  2010
155011   World      NaN  8.96637e+06  1.30693e+07  31338.3  2011
155012   World      NaN  9.06713e+06  1.32746e+07  31669.2  2012
155013   World      NaN  9.23418e+06  1.34449e+07  32287.8  2013
155014   World      NaN  9.33347e+06  1.36224e+07  32327.8  2014
155015   World      NaN  9.42778e+06  1.36723e+07    32276  2015
155016   World      NaN  9.55532e+06  1.37614e+07  32314.2  2016

[155017 rows x 6 columns]